* {
  margin: 10px 0 10px 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  margin: 10px 25% 0 25%;
  padding: 10px 30px 30px 30px;
  height: auto;
  width: 500px;
  border: 1px solid;
  border-radius: 5%;
}

p {
  margin-bottom: 10px;
}
img {
  height: 300px;
  width: 438px;
}

button {
  margin: 10px 10px 10px 10px;
  padding: 20px 30px;
  background-color: #f5f5f5;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.25s ease;
}
button:hover {
  margin: 5px 5px 5px 5px;
  padding: 25px 35px;
  background-color: azure;
}
